.hero-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3.75vw;

    & h1 {
        font-size: 7.91vw;
        line-height: 1.18;
        color: var(--color-primary);
        
        overflow: hidden;
        opacity: 0;

        & .letter {
            display: inline-block;
            transform: translateY(100%);
            opacity: 0;
        }
    }

    & .info {
        font-size: 1.25vw;
        line-height: 1.20;
        
        overflow: hidden;

        & span {
            display: inline-block;
            transform: translateY(100%);
        }

        &--second {
            margin-top: 0.20vw;
        }
    }
}