.loaded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #EE1B49;
    z-index: 999;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 59.58vw;
        height: 6.82vw;
        transform: translate(-50%, -50%);
        overflow: hidden;

        & svg {
            transform: translateY(110%);
            width: 59.58vw;
            height: 6.82vw;
        }
    }
}