.love {
    width: col(22);
    margin: 0 auto $space-xl auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__title {
        width: col(10);
        color: var(--color-white);
        font-size: 4.89vw;

        span.hide {
            overflow: hidden;
            display: block;

            span.line {
                display: block;
                transform: translateY(100%);
            }
        }
    }

    &__images {
        position: relative;
        width: col(11);
        height: 28.38vw;
        overflow: hidden;
        margin-top: 7.29vw;
    }

    &__image_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 101%;
        transform: translate(-50%, -50%);

        &:last-child {
            z-index: 1;
        }
    }
}