.project-hero {
    width: col(22);
    margin: $space-xl auto;

    &__thumb {
        height: 40vw;
        width: 100%;
        opacity: 0;
        margin-bottom: $space-xl;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        width: col(15);
        text-align: end;
    }
}