.home {
    &-about {
        margin: 0 auto;
        width: col(20);
        margin-top: $space-xxl;
        margin-bottom: $space-xxl;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;

        .first-p,
        .second-p {
            span.hide {
                overflow: hidden;
                display: block;

                span.line {
                    display: block;
                    transform: translateY(100%);
                }
            }
        }

        .first-p {
            margin-bottom: $space-m;
            margin-right: col(9);
        }

        .second-p {
            margin-left: auto;
        }
    }
}