.container {
    max-width: 91.66vw;
    width: 100%;
    margin: 0 auto;
}

// FONT
.h2 {
    font-size: 4.89vw;
    line-height: 1.18;
    font-weight: 400;
    color: var(--color-primary);
}

.h3 {
    font-size: 2.39vw;
    line-height: 1;
}

.p-info {
    font-size: 1.25vw;
    line-height: 1.2;
    font-family: var(--font-secondary);

}

.p-number {
    font-size: 0.88vw;
    font-family: var(--font-secondary);
    font-weight: 500;
}

.color-primary {
    color: var(--color-primary);
}

// SPACING
.mt-3 {
    margin-top: 6.66vw;
}

// COLUMNS
@for $i from 1 through 24 {
    .col-#{$i} {
        width: col($i);
    }
}