.container {
    max-width: 91.66vw;
    width: 100%;
    margin: 0 auto;
}

// FONT
.h2 {
    font-size: 4.89vw;
    line-height: 1.18;
    font-weight: 400;
    color: var(--color-primary);
    text-transform: uppercase;
}

// SPACING
.mt-3 {
    margin-top: 6.66vw;
}

// COLUMNS
@for $i from 1 through 24 {
    .col-#{$i} {
        width: col($i);
    }
}